.eachRes{
    border: 3px solid black;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 0.5fr;
}
.animeName{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
